doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //[if !mso]
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        //[endif]
        link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
        style(type="text/css").
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
                line-height: 100%;
            } /* Forces Hotmail to display normal line spacing */
            .ExternalClass * {
                line-height: 100%;
            }
            p {
                margin: 1em 0;
            } /* Yahoo paragraph fix */
            table td {
                border-collapse: collapse;
            } /* This resolves the Outlook 07, 10, and Gmail td padding issue fix */
            /* This resolves the issue when iphone puts links on dates, etc. */
            .appleLinksWhite a {
                color: #ffffff;
                text-decoration: none;
            }
            .appleLinksWhiteUL a {
                color: #ffffff;
                text-decoration: underline;
            }
            .appleLinksGray a {
                color: #1f326f;
                text-decoration: none;
            }
            .appleLinksGray2 a {
                color: #707070;
                text-decoration: none;
            }
            .appleLinksBlack a {
                color: #1d1d1d;
                text-decoration: none;
            }
            .appleLinksGreen a {
                color: #1a3c34 !important;
            }
            sup {
                line-height: 0;
                font-size: 55%;
            }
            /* APPLE AUTOLINK FIX */
            a[x-apple-data-detectors] {
                color: inherit !important;
                text-decoration: none !important;
                font-size: inherit !important;
                font-family: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
            }
            /* SAMSUNG AUTOLINK FIX */
            #MessageViewBody a {
                color: inherit;
                text-decoration: none;
                font-size: inherit;
                font-family: inherit;
                font-weight: inherit;
                line-height: inherit;
            }

        style(type="text/css").
            @media only screen and (max-width: 600px) {
                html,
                body {
                    width: 100% !important;
                    min-width: 100% !important;
                    margin: 0 auto !important;
                }
                .container {
                    width: 100% !important;
                    min-width: 100% !important;
                    margin: 0 auto !important;
                }
                .pad20 {
                    padding-left: 20px !important;
                    padding-right: 20px !important;
                }
            }


        style(type="text/css").
            @media only screen and (max-width: 450px) {
                /* global 450 wide styles */
                body {
                    width: 100% !important;
                    min-width: 100% !important;
                    margin: 0 auto !important;
                }
                .body {
                    min-width: 100vw;
                }
                .pad20 {
                    padding-left: 20px !important;
                    padding-right: 20px !important;
                }
                u + .body {
                    width: 100% !important;
                    width: 100vw !important;
                }
            }

        style(type="text/css").
            @media(prefers-color-scheme: dark) {
                .dark-bg {
                    background-color: #121212 !important;
                }
                .dark {
                    color: #ffffff !important;
                }
                .dark-border-bottom {
                    border-bottom-color: #ffffff !important;
                }
            }

    body(leftmargin="0",
        topmargin="0",
        marginwidth="0",
        marginheight="0",
        style="width: 100% !important; " +
        "-webkit-text-size-adjust: none; " +
        "-ms-text-size-adjust: none;" +
        "margin-top: 0;" +
        "margin-bottom: 0;" +
        "margin-right: 0;" +
        "margin-left: 0;" +
        "padding-top: 0;" +
        "padding-bottom: 0;" +
        "padding-right: 0;" +
        "padding-left: 0;" +
        "background-color: #ffffff;" +
        "background-image: none;" +
        "background-repeat: repeat;" +
        "background-position: top left;" +
        "background-attachment: scroll;" +
        "min-width: 100%;",
        class="body dark-bg")

        style(type="text/css").
            div.preheader {
                display: none !important;
            }

        div(class="preheader", style="font-size: 1px; display: none !important") Découvrez les autres entreprises qui recrutent en ce moment


        table(align="center", border="0", cellpadding="0", cellspacing="0", width="100%", class="gwfw dark-bg", style="background-color: #e4e5e6")
            tr
                td(align="center")
                    table(align="center",
                        border="0",
                        cellpadding="0",
                        cellspacing="0",
                        class="container dark-bg",
                        style="font-family: Arial, Helvetica, sans-serif; background-color: #e4e5e6",
                        width="600")

                        tr
                            td(align="center")
                                table(cellpadding="0", cellspacing="0", border="0", width="100%", style="padding-top: 50px")
                                    tr
                                        td(align="center")
                                            table(cellpadding="0", cellspacing="0", border="0", bgcolor="#6e46ae", width="600", class="container")
                                                tr
                                                    td(class="pad20", style="font-family: Arial, sans-serif; font-size: 28px; font-stretch: normal; font-style: normal; line-height: 36px; text-align: center; color: #ffffff; padding: 20px;")
                                                        strong nicolas-zanardo.com
                                    tr
                                        td(align="center")
                                            table(cellpadding="0", cellspacing="0", border="0", bgcolor="#ffffff", width="100%", class="dark-bg")
                                                tr
                                                    td(align="center")
                                                        table(bgcolor="#ffffff", style="background-color: #ffffff", class="dark-bg", width="100%", border="0", cellpadding="0", cellspacing="0")
                                                            tr
                                                                td
                                                                    table(class="dark-bg", width="100%", border="0", cellpadding="0", cellspacing="0", bgcolor="#ffffff")
                                                                        tr
                                                                            td(style="line-height: 20px; padding-top: 10px; padding-left: 30px; padding-right: 30px; padding-bottom: 15px;")
                                                                    table(class="dark-bg"
                                                                        align="left"
                                                                        bgcolor="#ffffff"
                                                                        border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        width="100%")
                                                                        tr
                                                                            td(style="line-height: 24px;" +
                                                                            "font-family: Arial," +
                                                                            "sans-serif;" +
                                                                            "padding-left: 30px;" +
                                                                            "padding-right: 30px;" +
                                                                            "padding-bottom: 20px;")
                                                                                table(align="left", border="0", cellpadding="0", cellspacing="0")
                                                                                    tr
                                                                                        td(align="left", style="line-height: 24px")
                                                                                            span(style="font-size: 18px; line-height: 24px; color: #000000")
                                                                                                // *** Title ***
                                                                                                strong(style="color: #6e46ae") Verifiez votre email
                                                                                            br
                                                                                            span(class="dark",style="font-size: 16px; line-height: 24px; color: #000000")
                                                                                                // *** Message ***
                                                                                                br
                                                                                                | Bonjour, ce mail vous a été envoyé car vous venez de vous inscrire sur le site web nicolas-zanardo.com.
                                                                                            br
                                                                                            span(class="dark", style="font-size: 14px; line-height: 20px; color: #757575")
                                                                                                // *** Light Message ***
                                                                                                br
                                                                                                | Pour activer votre compte vous devez vérifier votre adresse email.
                                                            tr
                                                                td(style="line-height: 1px")
                                                                    table(width="100%", border="0", cellspacing="0", cellpadding="0", style="font-size: 16px; line-height: 24px")
                                                                        tr
                                                                            td(style="padding-left: 25px; padding-right: 25px; padding-bottom: 20px", align="left")
                                                                                table(border="0", cellspacing="0", cellpadding="0", width="150", height="40")
                                                                                    tr
                                                                                        td(align="center", valign="middle")
                                                                                            div
                                                                                                // *** URL ***
                                                                                                // Change :
                                                                                                // => Name
                                                                                                a(href=url,
                                                                                                    style="background-color: #6610f2;" +
                                                                                                    "border: 1px solid #6610f2;" +
                                                                                                    "border-radius: 40px;" +
                                                                                                    "color: #ffffff;" +
                                                                                                    "display: inline-block;" +
                                                                                                    "font-family: sans-serif;" +
                                                                                                    "font-size: 16px;" +
                                                                                                    "font-weight: bold;" +
                                                                                                    "line-height: 24px;" +
                                                                                                    "text-align: center;" +
                                                                                                    "text-decoration: none;" +
                                                                                                    "width: 200px;" +
                                                                                                    "-webkit-text-size-adjust: none;" +
                                                                                                    "mso-hide: all;" +
                                                                                                    "padding-left: 20px;" +
                                                                                                    "padding-right: 20px;" +
                                                                                                    "padding-bottom: 10px;" +
                                                                                                    "padding-top: 10px;") Validez votre email
                                                                    table(class="dark-bg", align="center", bgcolor="#ffffff", border="0", cellpadding="0", cellspacing="0", class="hide", style="font-family: Arial, sans-serif; margin: 0 auto", width="100%")
                                                                        tr
                                                                            td(class="dark-border-bottom", height="20", style="line-height: 1px; border-bottom: 1px solid #dcdcdc")
                                                                                span(style="font-size: 1px; line-height: 1px") nbsp;
                                    tr
                                        td
                                            table(cellpadding="0", cellspacing="0", width="100%", role="presentation", style="min-width: 100%", class="stylingblock-content-wrapper")
                                                tr
                                                    td(class="stylingblock-content-wrapper camarker-inner")
                                                        table(class="dark-bg", border="0", cellspacing="0", cellpadding="0", width="100%", bgcolor="#e4e5e6")
                                                            tr
                                                                td(align="center" valign="top")
                                                                    table(border="0", cellpadding="0", cellspcing="0", class="stretch", style="margin-bottom: 50px")